@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    line-height: 0.9rem;
    font-family: Helvetica, Arial, sans-serif;
}

header li {
    display:inline-block;
    padding-inline: 1em;
}

header {
    position: fixed;
    margin-bottom: 1rem;
    text-align: center;
}

h1, h2 ,h3 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 15rem;
    line-height: 0.1rem;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

h2 {
    font-size: 60px;
}

p {
    line-height: 1.6rem;
}

section {
    height: 600px;
    display: flex;
    padding-inline: 15%;
}

#primeira-sec {
    background-color: #F4ECE1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#terceira-sec {
    flex-direction: column;
    align-items: center;
}

#terceira-sec>div {
    display: flex;
    flex:1 1 auto;
    justify-content: space-evenly;
}

#terceira-sec>div>div {
    text-align: center;
}

#terceira-sec img {
    width: 35rem;
}

#quarta-sec {
    flex-wrap: wrap;
    height: fit-content;
}

#quarta-sec img {
    padding: 0.3rem;
}

#contato {
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: stretch;
}

#contato>div {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}

#contato input {
    display: block;
    box-sizing: border-box;
    height: 2rem;
    margin: 0.5rem;
    border: 0;
    width: 20rem;
}

#contato input:last-of-type {
    height: 8rem;
}

#contato input:hover {
    border: 0.1rem solid black;
}

#quarta-sec img {
    width: 25rem;
}

.button {
    background-color: #FF7648;
    height: 3rem;
    width: 15rem;
    border: none;
    color: white;
    border-radius: 3rem;
}

footer {
    background-color: rgb(70, 62, 62);
    /* background-color: white; */
    color: white;
}

footer img {
    width: 2rem;
}

footer img path {
    fill: rgb(129, 119, 119);
}