body {
    background-color: #2C2D40;
}

#side-menu-checkbox:checked + .side-menu + .menu-icon {
    /* Isto impede que o styles.css padrão inverta as cores desse menu sem necessidade */
    filter: invert(0);
}

#menu {
    filter: invert();
}
.side-menu{
    background-color: #f2f2f2;
    color: black;
}
h3, h4{
    color: black;
}
#menu-icon{
    fill: blueviolet;
}