@font-face {
    font-family: 'Halloween Dreams Script';
    src: url(fonts/Halloween\ Dreams\ Script.ttf);
}
body {
    margin: auto;
    background-color: #FCFCFC;
    display: flex;
    justify-content: space-between;
}

aside {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-icon {
    width: 2rem;
    padding: 1rem;
}

.costumer-chef-icons {
    width: 2rem;
}

#balao-formiga {
    width:0rem;
    margin-left: 0rem;
    margin-top: -10rem;
    z-index: 1;
    transition: all 0.4s ease;
}

div#daFormiga {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
}

#formiga-mimi {
    width: 8rem;
}

#formiga-mimi:hover + #balao-formiga, #balao-formiga:hover {
    width: 10rem;
}

#switch-area {
    z-index: 5;
}

#switch {
    width: 2.5rem;
    padding: 0.2rem;
}

main {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 39rem;
    background-color: #E9EBF8;
    box-shadow: 2px 2px 5px rgb(31, 30, 30);
    border-radius: 1rem;
    box-sizing: border-box;
    padding-inline: 6rem;
}

.post-it {
    width: 15rem;
}

h2 {
    margin: 0;
    padding:0
}

img.post-it {
    width: 4rem;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 37rem;
    align-items: center;
}

ul li a{
    display:block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    font-family: 'Halloween Dreams Script';
    color: black;
    text-align: center;
    transition: transform 0.2s linear;
}

ul li:nth-child(2n) a {
    transform: rotate(6deg);
    position: relative;
    top: -5px;
}

ul li:nth-child(3n) a {
    transform: rotate(-3deg);
    height: 6rem;
    position: relative;
    top: 5px;
}

ul li {
    margin: 1rem
}

ul li a:hover, ul li a:focus {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}
#servicos li a{
    background-color: #FDCE04;
}
#informes li a{
    background-color: #F2589A;
}

#vendas li a{
    background-color: #9F61F0;
}

.menu-opcao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #9F61F0;
    width: 75%;
    margin-top: 1rem;
    text-align: left;
}
.menu-icons{
    width: 2rem;
    height:2rem;
}
h4{
    width: 8rem;

}
#user-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: grey solid 1px;
}

#side-menu-checkbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.6rem;
    width: 2.6rem;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}

.side-menu  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    box-sizing: border-box;
    padding-top: 3rem;
    background-color: #2C2D40;
    height: 100vh;
    width: 360px;

    /* Transição pela lateral esquerda, início em menos 100% */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease-in;
}

#side-menu-checkbox:checked + .side-menu {
    transform: none;
}

#side-menu-checkbox:checked + .side-menu + .menu-icon {
    filter: invert(1);
}