html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

h1 , h2 {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;

}

h2 {
    font-size: 1.5rem;
    padding-block: 3.5rem;
}

#zero {
    background-color: #FFCCE0;
    height: fit-content;
    padding: 0.1rem;
    padding: 1px;
    text-align: center;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
}

#first p {
    writing-mode: vertical-lr;
}

#first img {
    padding: 1rem;
}

#second {
    background-color: #FFC924;
    height: fit-content;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#third {
    display: flex;
    justify-content: stretch;
    align-items: center;
    
}

#left {
    width: 50%;
    height: 800px;
    background-image: url(images/background1.webp);
    background-attachment: fixed;
    background-size: cover;
    
    display: flex;
    justify-content: right;
    align-items: center;
}

#left div {
    background-color: #FFC924;
    width: 400px;
    height: 400px;
    padding: 2rem;
}

#right {
    width: 50%;
    height: 800px;
    background-image: url(images/background2.webp);
    background-attachment: fixed;
    background-size: cover;
    
    display: flex;
    justify-content: left;
    align-items: center;
}

#right div {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 2rem;
}

#right p, #left p {
    font-size: 3rem;
}

#fourth {
    height: fit-content;
    text-align: center;
}

#fourth .container {
    width: 70%;
    justify-content: center;
    /* background-color: black; */
}

#fourth .container img {
    width: 13rem;
    margin: 0.8rem;
}

#vermais-btn {
    box-sizing: border-box;
    width: 8rem;
    height: 2.5rem;
    margin-block: 2.5rem;
    background-color: white;
    border: 1px solid black;
    transition: all 0.2s ease;;
}

#vermais-btn:hover {
    background-color: black;
    color: rgb(184, 184, 184);
}

#email {
    box-sizing: border-box;
    width: 30rem;
    height: 2rem;
    margin-block: 0.5rem;
}

#email:hover {
    border: 3px solid black;
    border: 0.2rem solid black;
}

#participar-btn {
    box-sizing: border-box;
    width: 30rem;
    height: 2rem;
    margin-block: 0.5rem;
    background-color: black;
    color: white;
    border: 0px;
    transition: all 0.4s ease;;
}

#participar-btn:hover {
    background-color: #FFC924;
}

footer {
    padding-inline: 10%;
    background-color: #F2F2F2;
    height: 23rem;
    display: flex;
    justify-content:stretch;
    flex-wrap: wrap;
}

footer div {
    flex-grow: 1;
    padding: 1rem;
}

footer img {
    width: 1.5rem;
}

li {
    list-style-type: none;
}

#bttn-left {
    position: fixed;
    top: 5rem;
    left: 2rem;
}
#bttn-left img {
    width: 1.2rem;
}

#bttn-right {
    position: fixed;
    top: 5rem;
    right: 2rem;
}
#bttn-right img {
    width: 2rem;
}

a,
a:link {
    color: black;
}